:root{
    --cor-hover: rgba(255, 252, 252, 0.959);
}

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

ol{
    list-style: none;
}

body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(239, 218, 207, 1);
    
}

.menu{
    display: flex;
    justify-content:last baseline;
    gap: 210px;
    background-color: rgba(174, 193, 163, 1);
    color: rgba(174, 193, 163, 1);
    padding: 16px;
}

.menu li{
    display: flex;
    align-items: center;
    padding: 20px 30px;
    transition: .5s;
}

.menu img{
    height: 80px;
    align-items: center;
} 

 
#pesquisar{
    padding: 8px 16px;
    font-size: 15px;
    outline: none;
    background: rgba(174, 193, 163, 1);
    color: #000000;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}

#frutas{
    padding: 8px 16px;
    font-size: 20px;
    cursor: pointer;
    background: rgba(174, 193, 163, 1);
    border: rgba(239, 218, 207, 1);
    border-radius: 25px 25px 25px 25px;
}

main{
    display: flex;
    flex: 1;
    flex-direction:column;
    align-items: center;
    padding-top:5vh;
    width: 100vw;
}

#containertexto{
    display: flex;
    padding-top: 20vh;
    flex-direction:column;
    text-align:center;
    gap: 10px;
    color: rgb(0, 0, 0);
    font-family: "Martian Mono", monospace;
    font-size: 15px;
}

#lista-container{
    width: 80%;
    margin: 0 auto;
    
} 

#lista{
    column-count: 3;
    column-gap: 20px;
    padding: 50px;
}

#lista li {
    padding: 5px 0;
    font-size: 16px;
    color: #000000;
} 

#lista li:hover{
    color: rgb(218, 18, 51);
    cursor: pointer;
}

.card {
    display: none;
    width: 650px;
    height: 500px;
    padding: 50px;
    margin-top: 4%;
    border-radius: 25px 25px 25px 25px ;
    background-color: rgba(174, 193, 163, 1);
    color:#000000;
}

/* 
.Card h2{
    text-align: center;
    color: black;
    margin-top:  10px;
}

.detalhes, .Card p {
    padding: 10px;
    display: grid;
}

.detalhes p, .Card p {
    text-align: center;
} */